.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.show {
}

.flexParent {
  transition: all 1s ease-in;
  display: grid;
  /* flex-direction: column; */
  gap: 1rem;
  grid-template-rows: 0;
  overflow: hidden;

  /* height: 120px; */
}
.show .flexParent {
  /* height: auto;
  animation: showAni 1s ease-in; */
}

@keyframes showAni {
  from {
    height: 120px;
  }
  to {
    height: auto !important;
  }
}
.defaultClass {
  overflow: hidden;
  background-color: blue;
}

/* .defaultClass .flexParent {
  height: 120px;
} */
